.dropdown {
    background-color: theme('colors.accent');
    @apply relative block rounded;
}

.dropdown .visible {
    @apply flex items-center;
}

.visible .label {
    color: theme('colors.text-main');
    @apply px-2.5 font-medium;
}

.dropdown .icon{
    @apply w-4 mr-2;
}

.visible .button {
    background-color: theme('colors.primary');
    @apply xs:justify-center;
    @apply md:justify-start;
    @apply flex flex-1 items-center px-4 py-2 font-semibold rounded;
}

.visible .down-icon {
    @apply ml-1;
}


.dropdown .contents{
    background-color: theme('colors.text-main');
    color: theme('colors.text-alternative');
    @apply origin-top right-0 shadow absolute scale-95 transform transition duration-200 ease-in-out rounded top-full p-1 w-fit z-50;
}

.contents li{
    cursor: pointer;
    @apply flex items-center text-base font-medium px-4 py-2 border-b border-divider;
}

.contents li:last-child {
    @apply border-0;
    
} 


.contents li:hover{
    background-color: theme('colors.hover');
    color: theme('colors.text-main');
}

.contents li:active {
    background-color: theme('colors.primary');
    color: theme('colors.text-main');
}

